<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutoStarter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="STUTE.Database.Properties.db" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"  allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutoStarter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="STUTE.Database.Properties.db.ConnectionString" connectionString="Data Source=KOE-DLZ-SQL-001.stute.loc;Initial Catalog=Support;Persist Security Info=True;User ID=sa;Password=sqlserver;Connect Timeout=120;Application Name=Autostarter" />
    </connectionStrings>
    <applicationSettings>
        <AutoStarter.Properties.Settings>
            <setting name="Titel" serializeAs="String">
                <value>AutoStarter</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1.3</value>
            </setting>
            <setting name="Build" serializeAs="String">
                <value>$Revision: 397 $</value>
            </setting>
            <setting name="BuildDate" serializeAs="String">
                <value>$Date: 2015-05-12 19:35:40 +0200 (Di, 12. Mai 2015) $</value>
            </setting>
        </AutoStarter.Properties.Settings>
      <STUTE.Database.Properties.db>
        <setting name="SQLOut" serializeAs="String">
          <value>false</value>
        </setting>
        <setting name="ConnectionTimeout" serializeAs="String">
          <value>100</value>
        </setting>
      </STUTE.Database.Properties.db>
    </applicationSettings>
    <userSettings>
        <AutoStarter.Properties.Settings>
            <setting name="Reload_Interval" serializeAs="String">
                <value>30</value>
            </setting>
        </AutoStarter.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
