<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutoStarter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AutoStarter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AutoStarter.Properties.Settings.ConnectionString"
            connectionString="Data Source=KOE-DLZ-SQL-001.stute.loc;Initial Catalog=Support;Persist Security Info=True;User ID=sa;Password=sqlserver;Connect Timeout=120;Application Name=Autostarter" />
    </connectionStrings>
    <applicationSettings>
        <AutoStarter.Properties.Settings>
            <setting name="Titel" serializeAs="String">
                <value>AutoStarter</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1.1</value>
            </setting>
            <setting name="Build" serializeAs="String">
                <value>$Revision: 392 $</value>
            </setting>
            <setting name="BuildDate" serializeAs="String">
                <value>$Date: 2015-04-28 13:48:33 +0200 (Di, 28. Apr 2015) $</value>
            </setting>
            <setting name="ConnectionTimeout" serializeAs="String">
                <value>240</value>
            </setting>
        </AutoStarter.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <AutoStarter.Properties.Settings>
            <setting name="Reload_Interval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="DebugApp" serializeAs="String">
                <value>False</value>
            </setting>
        </AutoStarter.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
